.bigCardt{
    z-index: 10;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,0.90);
    .header{
        display: flex;
        flex-direction: row;
        margin-right: 40px;
        margin-bottom: 78px;
        margin-top: 40px;
        justify-content: flex-end;
    }
    .carrusel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .cardImg{
            width: 318px;
            height: 245px;
            margin-left: 25px;
            margin-bottom: 22px;
        }
        .nextbtn{
            display: none;
        }
        .prevbtn{
            display: none;
        }
    }
    .footercont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .cardFooter{
            display: flex;
            flex-direction: row ;
            width: 318px;
            justify-content: space-between;
            .cardText{
                width: 255px;
                h3{
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    color: #000000;
                }
                h4{
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    color: #000000;
                }
            }
            .footerbtn{
                display: flex;
                flex-direction: row;
                .favbtn{
                    margin-top: 7px;
                }
                a{
                    margin-right: 5px;
                    img{
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}
.bigCard{
    left: 0;
    z-index: 10;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,0.90);
    .header{
        display: flex;
        flex-direction: row;
        margin-right: 40px;
        margin-bottom: 78px;
        margin-top: 40px;
        justify-content: flex-end;
    }
    .carrusel{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .cardImg{
            width: 318px;
            height: 245px;
            margin-left: 25px;
            margin-bottom: 22px;
        }
        .nextbtn{
            display: none;
        }
        .prevbtn{
            display: none;
        }
    }
    .footercont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .cardFooter{
            display: flex;
            flex-direction: row ;
            width: 318px;
            justify-content: space-between;
            .cardText{
                width: 255px;
                h3{
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    color: #000000;
                }
                h4{
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    color: #000000;
                }
            }
            .footerbtn{
                display: flex;
                flex-direction: row;
                .favbtn{
                    margin-top: 7px;
                }
                a{
                    margin-right: 5px;
                    img{
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}



@media (min-width: 900px){
    .bigCardt{
        z-index: 10;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(255,255,255,0.90);
        .header{
            display: flex;
            flex-direction: row;
            margin-right: 40px;
            margin-bottom: 78px;
            margin-top: 40px;
            justify-content: flex-end;
        }
        .carrusel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cardImg{
                width: 625px;
                height: 385px;
                margin-right: 25px;
                margin-left: 25px;
                margin-bottom: 22px;
            }
        }
        .footercont{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .cardFooter{
                display: flex;
                flex-direction: row ;
                width: 625px;
                justify-content: space-between;
                .cardText{

                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        color: #000000;
                        text-align: left;
                    }
                    h4{
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        color: #000000;
                        text-align: left;
                    }
                }
            }
        }
    }
    .bigCard{
        z-index: 10;
        position: fixed, right 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(255,255,255,0.90);
        .header{
            display: flex;
            flex-direction: row;
            margin-right: 40px;
            margin-bottom: 78px;
            margin-top: 40px;
            justify-content: flex-end;
        }
        .carrusel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cardImg{
                width: 625px;
                height: 385px;
                margin-right: 25px;
                margin-left: 25px;
                margin-bottom: 22px;
            }
        }
        .footercont{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .cardFooter{
                display: flex;
                flex-direction: row ;
                width: 625px;
                justify-content: space-between;
                .cardText{

                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        color: #000000;
                        text-align: left;
                    }
                    h4{
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        color: #000000;
                        text-align: left;
                    }
                }
                .footerbtn{
                    display: flex;
                    flex-direction: row;
                    a{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}