.trending-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F5F8;
    margin-bottom: 2%;
    width: 100%;
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
        margin-top: 41px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 23px;
        width: 333px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .container-gifs{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        button{
            display: none;
        }
        .gif-carrusel{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow-x: scroll;
            .gifs-div{
                height: 275px;
                width: 357px;
                display: flex;
                flex-direction: column;
                .gif-hover{
                    display: none;
                }
            }
            .gifs-img{
                height: 275px;
                width: 357px;
                margin-left: 29px;
            }
        }
        .btn-slide{
            display: none;
        }
    }
}




@media (min-width: 900px){
    .trending-container{
        height: 640px;
        margin-top: 25px;
        .container-gifs{
            margin-top: 125px;
            .gif-carrusel{
                display: flex;
                flex-direction: row;
                width: 90%;
                justify-content: flex-start;
                overflow-x: scroll;
                .gifs-div{
                    margin-right: 29px;

                    &:hover {
                        .gif-hover{
                            margin-left: 29px;
                            height: 275px;
                            width: 357px;
                            margin-top: -275px;
                            background-color: #572EE599;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .txt{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                margin-bottom: 10px;
                                p{
                                    display: flex;
                                    justify-content: flex-start;
                                    padding: 0;
                                    margin-left: 18px;
                                    font-family: 'Roboto';
                                    font-size: 15px;
                                    color: #FFFFFF;
                                    text-align: center;
                                }
                                h6{
                                    display: flex;
                                    justify-content: flex-start;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 16px;
                                    margin-left: 18px;
                                    color: #FFFFFF;
                                    font-weight: bold;
                                }
                            }
                            .btn{
                                display: flex;
                                height: 50px;
                                width: 100%;
                                justify-content: flex-end;
                                flex-direction: row;
                                img{
                                    margin-right: 10px;
                                    margin-top: 10px;
                                    height: 32px;
                                    opacity: 0.6;
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                .gifs-img{
                    height: 275px;
                    width: 357px;
                    &:hover {
                        background: #572EE5;
                        opacity: 1;
                    }
                }
            }
            .btn-slide{
                display: unset;
                height: 40px;
                width: 40px;
                color: transparent;
                background-color: transparent;
                border-color: transparent;
                margin-left: 94px;
            }
            .next{
                margin-right: 94px;
                margin-left: 15px;
            }
            .prev{
                margin-right: 15px;
            }
        }
    }
}