@import '_menu.scss';
@import '_trending.scss';
@import '_favoritos.scss';
@import '_misGifs.scss';
@import '_variables.scss';
@import '_footer.scss';
@import '_dark_mode.scss';
@import '_bigCard.scss';
@import '_create.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        text-align: center;
        width: 76.3%;
        height: 8.2%;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #572EE5;
        font-weight: bold;
        .world{
            font-family: 'Montserrat', sans-serif;
            font-size: 30 px;
            color: #5ED7C6;
            font-weight: bold;
        }
    }
    .center-imagen{
        display: flex;
        justify-content: center;
        width: 100%;
        img{
            width: 72.8%;
            height: auto;
        }
    }
    .search-border{
        width: 100%;
        border: 1px solid #562ee5;
        border-radius: 27px;
        align-items: center;
        .search-bar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 2px #572EE5;
            .search-input{
                width: 95%;
                height: 50px;
                border-color: transparent;
                padding-left: 40px;
                outline-style: none;
                border-radius: 30px;
                input:active {
                    border-color: $purple;
                    border-radius: 30px;
                }
            }
            .search-button{
                margin-left: -35px;
                background: transparent;
                border-color: transparent;
                }
            .search-icon{
                width: 18px;
                opacity: 0;
                margin-right: -35px;
                z-index: 8;
            }   
        }
        .container-r{
            display: flex;
            justify-content: center;
            width: 100%;
                .search-result-line {
                    background-color: $gray-2;
                    height: 1px;
                    width: 95%;
                    opacity: 0.5;
                    z-index: 1000;
                }
                .results {
                    display: flex;
                    justify-content: flex-start;
                    width: 89.1%;
                    .sugg-results {
                        width: 100%;
                        list-style: none;
                        li {
                            width: 95%;
                            height: 32px;
                            flex-direction: row;
                            align-items: center;
                            justify-content: initial;
                            font-family: $roboto;
                            font-size: 16px;
                            color: $gray-2;
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            img {
                                margin-top: 0;
                                width: 15.8px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
    }
    .title-search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .greyline{
            margin-top: 70px;
            width: 338px;
            opacity: 0.5;
            border: 1px solid #9CAFC3;
        }
        .h4{
            font-family: 'Montserrat', sans-serif;
            font-size: 35px;
            color: #572EE5;
            text-align: center;
            line-height: 30px;
        }
    }
        .container-search{
            .search-gifs{
                align-self: center;
                align-content: center;
                .gifs-div{
                    height: 200px;
                    width: 260px;
                    display: flex;
                    flex-direction: column;
                    .gif-hover{
                        display: none;
                    }
                }
                .gifs-img{
                    height: 200px;
                    width: 260px;
                }
                .wrong{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-self: center;
                    margin-bottom: 140px;
                    img{
                        width: 150px;
                        height: 150px;
                        align-content: center;
                        margin-left: 35px;
                    }
                    p{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 22px;
                        color: #50E3C2;
                        text-align: center;
                        line-height: 25px;
                        margin-top: 25px;
                    }
                }
            }
        }
        .moreGifs{
            display: flex;
            justify-content: center;
            .watchMore{
                margin-top: 25px;
                margin-bottom: 25px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                border-radius: 25px;
                height: 50px;
                width: 125px;
                background-color: transparent;
                color: #572EE5;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            
            }
        }
    .center-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        margin-bottom: 55px;
        h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
        }
        .tranw{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            span{
                margin-right: 5px;
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: #572EE5;
                    text-align: center;
                    line-height: 25px;
                }
            }
            }
    }
}

/* Arranca el media query*/



@media (min-width: 900px){
    .center{
        display: flex;
        align-items: center;
        .title{
            width: 650px;
        }
        .center-imagen{
            display: flex;
            justify-content: center;
            img{
                width: 27.7%;
                height: auto;
            }
        }
        .search-border{
            width: 551px;
        }
        .container-r{
            display: flex;
            justify-content: center;
            width: 100%;
            .search-result-line {
                background-color: $gray-2;
                height: 1px;
                width: 95%;
                opacity: 0.5;
            }
            .results {
                display: flex;
                justify-content: flex-start;
                width: 38.3%;
                .sugg-results {
                    list-style: none;
                    li {
                        display: flex;
                        width: 95%;
                        height: 32px;
                        flex-direction: row;
                        align-items: center;
                        justify-content: initial;
                        font-family: $roboto;
                        font-size: 16px;
                        color: $gray-2;
                        list-style: none;
                        padding-left: 0px;
                        .gifs-img {
                            margin-top: 0;
                            width: 15.8px;
                            margin-right: 6px;
                        }
                        .gifs-img{
                            height: 275px;
                            width: 357px;
                            &:hover {
                                background: #572EE5;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        .container-search{
            display: flex;
            justify-content: center;
            align-content: center;
            .search-gifs{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 72%;
                .gifs-div{
                    width: 260px;
                    height: 200px;
                    margin-top: 22px;
                    .gifs-img{
                        width: 100%;
                        height: 100%;
                        &:hover {
                            background: #572EE5;
                            opacity: 1;
                        }
                    }
                    &:hover {
                        .gif-hover{
                            height: 200px;
                            width: 260px;
                            margin-top: -200px;
                            background-color: #572EE599;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .txt{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                margin-bottom: 10px;
                                p{
                                    display: flex;
                                    justify-content: flex-start;
                                    padding: 0;
                                    margin-left: 18px;
                                    font-family: 'Roboto';
                                    font-size: 15px;
                                    color: #FFFFFF;
                                    text-align: center;
                                }
                                h6{
                                    display: flex;
                                    justify-content: flex-start;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 16px;
                                    margin-left: 18px;
                                    color: #FFFFFF;
                                    font-weight: bold;
                                }
                            }
                            .btn{
                                display: flex;
                                height: 50px;
                                width: 100%;
                                justify-content: flex-end;
                                flex-direction: row;
                                img{
                                    margin-right: 10px;
                                    margin-top: 10px;
                                    height: 32px;
                                    opacity: 0.6;
                                    &:hover{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .title-search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
            .greyline{
                width: 338px;
                height: 0.1px;
                opacity: 0.5;
                color: #9CAFC3;
                margin-top: 55px;
            }
            .h4{
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
                color: #572EE5;
                text-align: center;
                line-height: 30px;
                margin-top: 50px;
            }
        }

}