*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line{
    width: 100%;
    height: 5px;
    background-color: #572EE5;

}
.menu{
    img{
        margin-left: 29px;
        margin-top: 22px;
    }
    label{
        float: right;
    }
    .hamburger{
        margin-top: 47px;
        margin-bottom: 16px;
        margin-right: 26px;
        display: block;
        position: relative;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #572EE5;
        transition: background-color .2s;
    }
    .hamburger::before,.hamburger::after{
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #572EE5;
        transition: transform .2s ease-out;
    }
    .hamburger::before{
        top: -5px;
    }
    .hamburger::after{
        top: 5px;
    }
    input{
        display: none;
    }
    nav{
        clear: both;
    }
    .nav-links{
        background: rgba(87,46,229,0.90);
        max-height: 0px;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
        list-style: none;
        font-size: 25px;
        position: absolute;
        width: 100%;
    }
    
    input:checked ~ .hamburger{
        background: transparent;
    }
    input:checked ~ .hamburger::before{
        transform: rotate(-45deg);
        top: 0;
    }
    input:checked ~ nav ul {
        max-height: 100%;
    }
    input:checked ~ .hamburger::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav li { 
        list-style: none;
        text-align: center;
        height: 40px;
        margin-top: 40px;
        a{
            text-decoration: none;
            color: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            padding-left: 16px;
        }
        button{
            text-decoration: none;
            color: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            padding-left: 16px;
            height: 30px;
            background: transparent;
            border-color: transparent;
        }
    }
    
}
.create{
    display: none;
}
.center{
    display: flex;
    flex-direction: column;
    .title{
        text-align: center;
        margin-left: 12%;
        width: 76.3%;
        height: 8.2%;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #572EE5;
        font-weight: bold;
        .world{
            font-family: 'Montserrat', sans-serif;
            font-size: 30 px;
            color: #5ED7C6;
            font-weight: bold;
        }
    }
    .center-imagen{
        display: flex;
        justify-content: center;
        img{
            width: 72.8%;
            height: auto;
        }
    }
    .search-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        input{
            width: 334px;
            height: 50px;
            border-radius: 30px;
            border-color: #572EE5;
            padding-left: 15px;
        }
        .search-button{
            margin-left: -40px;
            background: transparent;
            border-color: transparent;
        }
    }
    .center-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        margin-bottom: 45px;
        h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
            width: 225px;
        }
    }
    .trending-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F3F5F8;
        height: 430px;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #572EE5;
            text-align: center;
            line-height: 30px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 23px;
            width: 333px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .gif-carrusel{
            height: 15,6%;
            background-color: blue;
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196px;
    .social{
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
            margin-top: 47px;
            text-align: center;
        }
        .social-container{
            margin-left: -20px;
            margin-top: 22px;
        }
        a{
            text-decoration: none;
            i{
                color: #CDD6E0;
                height: 16px;
                width: 18px;
                margin-left: 19px;
            }
        }
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 48.7px;
    }
}
.dark-mode{
    body{
        background: #37383C;
    }
}
@media (min-width: 900px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: unset;
        img{
            margin-left: 6.95%;
        }
        .hamburger{
            display: none;
        }
        .nav-links{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background: white;
            max-height: 80px;
            margin-right: 84px;
            width: 600px;
            
            li{
                list-style: none;
                padding: 1.5%;
                a{
                    position: relative;
                    text-decoration: none;
                    color: #060A24;
                    font-size: 16px;
                    font-family: 'IBM Plex Mono', monospace;
                }
                a:hover{
                    color: #00F3BB;
                    text-decoration: line-through;
                }
                a:active{
                    font-family: 'IBM Plex Mono';
                    font-size: 16px;
                    color: rgba(6,10,36,0.56);
                    letter-spacing: 0;
                    line-height: 28px;
                    text-decoration: line-through;
                }
            }
        }
    }
    .create{
        display: unset;
        padding-left: 0;
    }
}
