*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.line{
    width: 100%;
    height: 5px;
    background-color: #572EE5;

}
.menu{
    a{
        img{
            margin-left: 29px;
            margin-top: 22px;
        }
    }
    label{
        float: right;
    }
    .hamburger{
        margin-top: 47px;
        margin-bottom: 16px;
        margin-right: 26px;
        display: block;
        position: relative;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #572EE5;
        transition: background-color .2s;
    }
    .hamburger::before,.hamburger::after{
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #572EE5;
        transition: transform .2s ease-out;
    }
    .hamburger::before{
        top: -5px;
    }
    .hamburger::after{
        top: 5px;
    }
    input{
        display: none;
    }
    nav{
        clear: both;
    }
    .nav-links{
        background: rgba(87,46,229,0.90);
        max-height: 0px;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
        list-style: none;
        font-size: 25px;
        position: absolute;
        width: 100%;
    }
    
    input:checked ~ .hamburger{
        background: transparent;
    }
    input:checked ~ .hamburger::before{
        transform: rotate(-45deg);
        top: 0;
    }
    input:checked ~ nav ul {
        max-height: 100%;
    }
    input:checked ~ .hamburger::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav li { 
        list-style: none;
        text-align: center;
        height: 40px;
        margin-top: 40px;
        a{
            text-decoration: none;
            color: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            padding-left: 16px;
        }
        button{
            text-decoration: none;
            color: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            padding-left: 16px;
            height: 30px;
            background: transparent;
            border-color: transparent;
        }
        .create{
            display: none;
        }
    }
    
}
/* menu hamburgesa funciona, necesita los span entre las opciones*/
.center{
    display: flex;
    flex-direction: column;
    .title{
        text-align: center;
        margin-left: 12%;
        width: 76.3%;
        height: 8.2%;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #572EE5;
        font-weight: bold;
        .world{
            font-family: 'Montserrat', sans-serif;
            font-size: 30 px;
            color: #5ED7C6;
            font-weight: bold;
        }
    }
    .center-imagen{
        display: flex;
        justify-content: center;
        img{
            width: 72.8%;
            height: auto;
        }
    }
    .search-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .search-input{
            width: 334px;
            height: 50px;
            border-radius: 30px;
            border-color: #572EE5;
            padding-left: 15px;
        }

        .search-button{
            margin-left: -35px;
            background: transparent;
            border-color: transparent;
        }
    }
    .center-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        margin-bottom: 55px;
        h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
            width: 225px;
        }
    }
    .trending-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F3F5F8;
        margin-bottom: 2%;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #572EE5;
            text-align: center;
            line-height: 30px;
            margin-top: 41px;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 23px;
            width: 333px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .container-gifs{
            display:flex;
            flex-direction: row;
            align-items: center;
            .gif-carrusel{
                margin: 0;
                height: 15.6%;
                width: 74.8%;
                display: flex;
                flex-direction: row;
                .gifs-div{
                    height: 275px;
                    width: 357px;
                }
                .gifs-img{
                    height: 100%;
                    width: 100%;
                }
                .gifs:hover {
                    background: #572EE5;
                    opacity: 0.6;
                }
            }
            .btn-slide{
                display: none;
            }
        }
    }
}
/* Centro funciona falta el carrusel hacerlo con js */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196px;
    .social{
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
            margin-top: 47px;
            text-align: center;
        }
        .social-container{
            margin-left: -20px;
            margin-top: 22px;
        }
        a{
            text-decoration: none;
            i{
                color: #CDD6E0;
                height: 16px;
                width: 18px;
                margin-left: 19px;
            }
        }
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 48.7px;
    }
}
/*footer en light mode funciona */

/*inicia el Style particular de favoritos*/

.center{
    .favorites{
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .gif-container{
            .heart{
                align-content: center;
                margin-left: 36%;
            }
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: #572EE5;
                text-align: center;
                line-height: 30px;
            }
            .gif-carrusel{
                background-color: #37383C;
                height: 300px;
                width: 100%;
            }
        }
        .button{
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            height: 50px;
            width: 125px;
            background-color: transparent;
            color: #572EE5;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
}
/*Finaliza el style de favoritos*/
/*Inicia Style de Mis GIFOS*/
.center{
    .my-gifs{
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .gif-container{
            .heart{
                align-content: center;
                margin-left: 36%;
            }
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: #572EE5;
                text-align: center;
                line-height: 30px;
            }
            .gif-carrusel{
                background-color: #37383C;
                height: 300px;
                width: 100%;
            }
        }
        .button{
            border: 1px solid #572EE5;
            border-radius: 25px;
            border-radius: 25px;
            height: 50px;
            width: 125px;
            background-color: transparent;
            color: #572EE5;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
}
/*finaliza style de Mis GIFOS*/
.dark-mode{
    .line{
        background-color: #000000;
    }
    .menu{
        background: #37383C;
        .hamburger{
            background-color: #FFFFFF;
        }
        .hamburger::before, .hamburger::after{
            background-color: #FFFFFF;
        }
        .nav-links{
            background: #000000;
        }
    }
    /*menu en dark mode funciona*/
    .center{
        background: #37383C;
        .title{
            color: #ffffff;
        }
        .search-bar{
            input{
                border-color: #ffffff;
            }
        }
        .center-text{
            h3{
                color: #ffffff;
            }
            p{
                color: #ffffff;
            }
        }
        .trending-container{
            background: #222326;
            h2{
                color: #ffffff;
            }
            p{
                color: #ffffff;
            }
        }
    }
    /* centro en dark mode funciona falta ver carrusel*/
    .footer{
        background: #37383C;
        .social{
            p{
                color: #ffffff;
            }
        }
        p{
            color: #ffffff;
        }
    }
    /*footer en dark-mode funciona*/
    /*inicia style dark para favorito*/
    .center{
        .favorites{
            .gif-container{
                h2{
                    color: #ffffff;
                }
            }
            .button{
                color: #ffffff;
                border: 1px solid #FFFFFF;
            }
        }
    }
    /*Termina style dark para favoritos*/
    /*inicio style de mis gifos*/
    .center{
        .my-gifs{
            .gif-container{
                h2{
                    color: #ffffff;
                }
            }
            .button{
                color: #ffffff;
                border: 1px solid #FFFFFF;
            }
        }
    }
    /*termina style de mis gifos*/


}

/*dark mode funciona*/
@media (min-width: 900px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background: white;
        max-height: unset;
        position: relative;
        a{
            img{
                margin-left: 156px;
            }
        }
        .hamburger{
            display: none;
        }
        nav{
            margin-right: 10%;
        }
        .nav-links{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: white;
            max-height: 95px;
            position: relative;
            overflow: unset;
            
            .create{
                display: unset;
                margin: 0;
                padding-top: -20px;
            }
            li{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                list-style: none;
                position: relative;
                margin-top: 0;
                height: unset;
                button{
                    color: #572EE5;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                }
                a{
                    text-decoration: none;
                    color: #572EE5;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
    
    .center{
        display: flex;
        justify-content: center;

        .center-imagen{
            display: flex;
            justify-content: center;
            img{
                width: 399px;
                height: auto;
            }
        }
        .suggestions{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #FFFFFF;
            height: 200px;
            .sug-div{
                .button-sug{
                    background: transparent;
                    border-color: transparent;
                }
            }
        }
        .container-search{
            display: flex;
            justify-content: center;
            align-content: center;
            .search-gifs{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 72%;
                .gifs-div{
                    width: 220px;
                    height: 200px;
                    .gifs-img{
                        width: 100%;
                        height: 100%;
                        margin: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .trending-container{
            height: 640px;
            .container-gifs{
                .gif-carrusel{
                    display: flex;
                    flex-direction: row;
                    width: 78,4%;
                }
                .btn-slide{
                    display: unset;
                    height: 40px;
                    width: 40px;
                    color: transparent;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }
    }



    .dark-mode{
        .menu{
            .nav-links{
                background-color: unset;
            }
        }
    }
}
